In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data_train=pd.read_csv('/content/drive/MyDrive/train.csv')

In [ ]:
data_train.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [ ]:
data_train=data_train.drop(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'City'],axis=1)

In [ ]:
data_train.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival,Time_taken(min)
0,22.745049,75.892471,22.765049,75.912471,conditions Sunny,High,No,(min) 24
1,12.913041,77.683237,13.043041,77.813237,conditions Stormy,Jam,No,(min) 33
2,12.914264,77.678400,12.924264,77.688400,conditions Sandstorms,Low,No,(min) 26
3,11.003669,76.976494,11.053669,77.026494,conditions Sunny,Medium,No,(min) 21
4,12.972793,80.249982,13.012793,80.289982,conditions Cloudy,High,No,(min) 30

In [ ]:
data_train['Weatherconditions'] = data_train['Weatherconditions'].map(lambda x: str(x)[11:])
data_train['Time_taken(min)'] = data_train['Time_taken(min)'].map(lambda x: str(x)[6:])

In [ ]:
data_train.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival,Time_taken(min)
0,22.745049,75.892471,22.765049,75.912471,Sunny,High,No,24
1,12.913041,77.683237,13.043041,77.813237,Stormy,Jam,No,33
2,12.914264,77.678400,12.924264,77.688400,Sandstorms,Low,No,26
3,11.003669,76.976494,11.053669,77.026494,Sunny,Medium,No,21
4,12.972793,80.249982,13.012793,80.289982,Cloudy,High,No,30

In [ ]:
import numpy as np
for i in data_train.columns:
  data_train[i].loc[data_train[i] == 'NaN '] = np.nan
  data_train[i].loc[data_train[i] == 'NaN'] = np.nan

<ipython-input-371-88351f6442c1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[i].loc[data_train[i] == 'NaN '] = np.nan
<ipython-input-371-88351f6442c1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[i].loc[data_train[i] == 'NaN'] = np.nan

In [ ]:
data_train.isnull().sum()

Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Weatherconditions              616
Road_traffic_density           601
Festival                       228
Time_taken(min)                  0
dtype: int64

In [ ]:
data_train.dropna(inplace=True)

In [ ]:
def haversine(lat1, lon1, lat2, lon2):
    # Calculate the distance between two points
    R = 6371  # Radius of the Earth in kilometers
    dlat = np.radians(lat2 - lat1)
    dlon = np.radians(lon2 - lon1)
    a = np.sin(dlat / 2) * np.sin(dlat / 2) + np.cos(np.radians(lat1)) \
        * np.cos(np.radians(lat2)) * np.sin(dlon / 2) * np.sin(dlon / 2)
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    d = R * c
    return d

In [ ]:
data_train['distance'] = haversine(data_train['Restaurant_latitude'], data_train['Restaurant_longitude'], data_train['Delivery_location_latitude'], data_train['Delivery_location_longitude'])

In [ ]:
data_train['distance']

0         3.025149
1        20.183530
2         1.552758
3         7.790401
4         6.210138
           ...
45588     1.489846
45589    11.007735
45590     4.657195
45591     6.232393
45592    12.074396
Name: distance, Length: 44752, dtype: float64

In [ ]:
#Filtering out only those distances which are less than 35km thus, indicating intra-city distance
data_train = data_train[data_train['distance'] <= 35]
print(data_train.nlargest(10, 'distance'))
data_train.info()

       Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
912              25.443994             81.860187                   25.583994
15710            25.443994             81.860187                   25.583994
25926            25.443994             81.860187                   25.583994
16640            25.449659             81.839744                   25.589659
16787            25.449659             81.839744                   25.589659
25476            25.449659             81.839744                   25.589659
11194            25.449872             81.836167                   25.589872
19738            25.449872             81.836167                   25.589872
30265            25.449872             81.836167                   25.589872
11436            25.450317             81.831681                   25.590317

       Delivery_location_longitude Weatherconditions Road_traffic_density  \
912                      82.000187            Cloudy                 Low
15710                    82.000187        Sandstorms                 Low
25926                    82.000187        Sandstorms                 Jam
16640                    81.979744             Sunny                 Jam
16787                    81.979744            Cloudy                 Jam
25476                    81.979744             Windy                 Jam
11194                    81.976167             Windy              Medium
19738                    81.976167             Windy                 Jam
30265                    81.976167            Stormy              Medium
11436                    81.971681             Sunny                 Jam

      Festival Time_taken(min)   distance
912        No               26  20.969489
15710      No               12  20.969489
25926      No               33  20.969489
16640      No               20  20.969045
16787     Yes               46  20.969045
25476      No               18  20.969045
11194     Yes               40  20.969028
19738      No               34  20.969028
30265      No               23  20.969028
11436      No               29  20.968994
<class 'pandas.core.frame.DataFrame'>
Int64Index: 44470 entries, 0 to 45592
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          44470 non-null  float64
 1   Restaurant_longitude         44470 non-null  float64
 2   Delivery_location_latitude   44470 non-null  float64
 3   Delivery_location_longitude  44470 non-null  float64
 4   Weatherconditions            44470 non-null  object
 5   Road_traffic_density         44470 non-null  object
 6   Festival                     44470 non-null  object
 7   Time_taken(min)              44470 non-null  object
 8   distance                     44470 non-null  float64
dtypes: float64(5), object(4)
memory usage: 3.4+ MB

In [ ]:
data_unique=data_train[['Restaurant_latitude', 'Restaurant_longitude']]

In [ ]:
unique_locs = data_unique[['Restaurant_latitude', 'Restaurant_longitude']].drop_duplicates()

In [ ]:
unique_locs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389 entries, 0 to 8220
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant_latitude   389 non-null    float64
 1   Restaurant_longitude  389 non-null    float64
dtypes: float64(2)
memory usage: 9.1 KB

In [ ]:
data_train.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival,Time_taken(min),distance
0,22.745049,75.892471,22.765049,75.912471,Sunny,High,No,24,3.025149
1,12.913041,77.683237,13.043041,77.813237,Stormy,Jam,No,33,20.183530
2,12.914264,77.678400,12.924264,77.688400,Sandstorms,Low,No,26,1.552758
3,11.003669,76.976494,11.053669,77.026494,Sunny,Medium,No,21,7.790401
4,12.972793,80.249982,13.012793,80.289982,Cloudy,High,No,30,6.210138

In [ ]:
data_train.shape

(44470, 9)

In [ ]:
#Removing duplicate rows having same attributes but giving different values of time
data_train=data_train.drop_duplicates(subset=['Restaurant_latitude', 'Restaurant_longitude',
'Delivery_location_latitude', 'Delivery_location_longitude','Weatherconditions', 'Road_traffic_density', 'Festival','distance'])

In [ ]:
data_train.shape

(29072, 9)

In [ ]:
data_train= data_train.reset_index(drop=True)

In [ ]:
#Checking if any row is duplicate
print(data_train.duplicated().any())

False

In [ ]:
#Encoder Labeling for categorical values
from sklearn.preprocessing import LabelEncoder
l_encoder = LabelEncoder()
data_train['Weatherconditions'] = l_encoder.fit_transform(data_train['Weatherconditions'])
print("Mapping of Digit to Value:")
for i, value in enumerate(l_encoder.classes_):
    print(i, ":", value)
data_train['Road_traffic_density'] = l_encoder.fit_transform(data_train['Road_traffic_density'])
print("Mapping of Digit to Value:")
for i, value in enumerate(l_encoder.classes_):
    print(i, ":", value)
data_train['Festival'] = l_encoder.fit_transform(data_train['Festival'])
print("Mapping of Digit to Value:")
for i, value in enumerate(l_encoder.classes_):
    print(i, ":", value)

Mapping of Digit to Value:
0 : Cloudy
1 : Fog
2 : Sandstorms
3 : Stormy
4 : Sunny
5 : Windy
Mapping of Digit to Value:
0 : High
1 : Jam
2 : Low
3 : Medium
Mapping of Digit to Value:
0 : No
1 : Yes

In [ ]:
data_train.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival,Time_taken(min),distance
0,22.745049,75.892471,22.765049,75.912471,4,0,0,24,3.025149
1,12.913041,77.683237,13.043041,77.813237,3,1,0,33,20.183530
2,12.914264,77.678400,12.924264,77.688400,2,2,0,26,1.552758
3,11.003669,76.976494,11.053669,77.026494,4,3,0,21,7.790401
4,12.972793,80.249982,13.012793,80.289982,0,0,0,30,6.210138

In [ ]:
y=data_train['Time_taken(min)']

In [ ]:
x=data_train[['Restaurant_latitude', 'Restaurant_longitude',
'Delivery_location_latitude', 'Delivery_location_longitude','Weatherconditions', 'Road_traffic_density', 'Festival','distance']]

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.20,random_state=42)

In [ ]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
pred_lr=lr.predict(x_test)
r2 = r2_score(y_test, pred_lr)

print('R-squared:', r2)
print("MSE with Linear Regression is :",mean_squared_error(y_test,pred_lr))

R-squared: 0.25066001187889975
MSE with Linear Regression is : 67.7024924670027

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
pred_dt =dt.predict(x_test)

print("MSE with decision tree regressor:",mean_squared_error(y_test, pred_dt))  
r2_dtr = r2_score(y_test, pred_dt)
print('R-squared:', r2_dtr)

MSE with decision tree regressor: 90.67669819432503
R-squared: -0.0036214838163146634

In [ ]:
from sklearn.linear_model import ElasticNet

# Create an instance of Elastic Net regression model
model = ElasticNet(alpha=0.05, l1_ratio=0.5)  # change alpha and l1_ratio as per your need

# Fit the Elastic Net model to the training data
model.fit(x_train, y_train)

#Predict the time taken on the testing data
pred_elastic  = model.predict(x_test)

# Evaluate the model's performance
mse = mean_squared_error(y_test, pred_elastic )
r2 = r2_score(y_test, pred_elastic )

print('MSE:', mse)
print('R2 score:', r2)

MSE: 69.50801540729218
R2 score: 0.23067624925319874

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rfr=RandomForestRegressor().fit(x_train,y_train)
pred_rfr=rfr.predict(x_test)
print("MSE with Random forest regression:",mean_squared_error(y_test,pred_rfr))
r2_rfr = r2_score(y_test, pred_rfr)
print('R-squared:', r2_rfr)

MSE with Random forest regression: 53.79844371453139
R-squared: 0.4045518310329739

In [ ]:
unique_locs = unique_locs.reset_index(drop=True)

In [ ]:
unique_locs.head(50)

    Restaurant_latitude  Restaurant_longitude
0             22.745049             75.892471
1             12.913041             77.683237
2             12.914264             77.678400
3             11.003669             76.976494
4             12.972793             80.249982
5             17.431668             78.408321
6             23.369746             85.339820
7             12.352058             76.606650
8             17.433809             78.386744
9             30.327968             78.046106
10            10.003064             76.307589
11            18.562450             73.916619
12            30.899584             75.809346
13            26.463504             80.372929
14            19.176269             72.836721
15            12.311072             76.654878
16            18.592718             73.773572
17            17.426228             78.407495
18            22.552672             88.352885
19            18.563934             73.915367
20            23.357804             85.325146
21            12.986047             80.218114
22            19.221315             72.862381
23            13.005801             80.250744
24            26.849596             75.800512
25            21.160522             72.771477
26            12.934179             77.615797
27            18.514210             73.838429
28            11.022477             76.995667
29            21.160437             72.774209
30            15.513150             73.783460
31            15.561295             73.749478
32             0.000000              0.000000
33            18.551440             73.804855
34            18.593481             73.785901
35            21.173343             72.792731
36            17.451976             78.385883
37            12.972532             77.608179
38            13.064181             80.236442
39            19.121999             72.908493
40            21.149569             72.772697
41            19.091458             72.827808
42            22.539129             88.365507
43            12.970324             77.645748
44            21.175975             72.795503
45            11.003681             76.975525
46            10.961850             76.971082
47            27.165108             78.015053
48            26.888420             75.800689
49            26.913987             75.752891

**Inputting user's location parameters**

In [ ]:
#Inputting user's location parameters
test_ip = {'Delivery_location_latitude':[12.97], 'Delivery_location_longitude':[77.64],
       'Weatherconditions':[1], 'Road_traffic_density':[2], 'Festival':[0]}
# Create a DataFrame with a single row
df_test = pd.DataFrame(test_ip)

In [ ]:
df_test

,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival
0,12.97,77.64,1,2,0

In [ ]:
df_test = pd.concat([df_test] * len(unique_locs), ignore_index=True)

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_location_latitude   389 non-null    float64
 1   Delivery_location_longitude  389 non-null    float64
 2   Weatherconditions            389 non-null    int64
 3   Road_traffic_density         389 non-null    int64
 4   Festival                     389 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 15.3 KB

In [ ]:
df_test['distance'] = haversine(unique_locs['Restaurant_latitude'], unique_locs['Restaurant_longitude'], df_test['Delivery_location_latitude'], df_test['Delivery_location_longitude'])

In [ ]:
df_merge = pd.concat([unique_locs,df_test], axis=1)
df_merge.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival,distance
0,22.745049,75.892471,12.97,77.64,1,2,0,1102.510131
1,12.913041,77.683237,12.97,77.64,1,2,0,7.878379
2,12.914264,77.678400,12.97,77.64,1,2,0,7.465061
3,11.003669,76.976494,12.97,77.64,1,2,0,230.247654
4,12.972793,80.249982,12.97,77.64,1,2,0,282.810015

In [ ]:
#Filtering out restaurants within 35km range of user's location
df_merge = df_merge[df_merge['distance'] <= 35]
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1 to 249
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          20 non-null     float64
 1   Restaurant_longitude         20 non-null     float64
 2   Delivery_location_latitude   20 non-null     float64
 3   Delivery_location_longitude  20 non-null     float64
 4   Weatherconditions            20 non-null     int64
 5   Road_traffic_density         20 non-null     int64
 6   Festival                     20 non-null     int64
 7   distance                     20 non-null     float64
dtypes: float64(5), int64(3)
memory usage: 1.4 KB

In [ ]:
df_merge

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival,distance
1,12.913041,77.683237,12.97,77.64,1,2,0,7.878379
2,12.914264,77.678400,12.97,77.64,1,2,0,7.465061
26,12.934179,77.615797,12.97,77.64,1,2,0,4.769084
37,12.972532,77.608179,12.97,77.64,1,2,0,3.459521
43,12.970324,77.645748,12.97,77.64,1,2,0,0.623883
58,12.933298,77.614293,12.97,77.64,1,2,0,4.941222
60,12.934365,77.616155,12.97,77.64,1,2,0,4.730521
67,12.939496,77.625999,12.97,77.64,1,2,0,3.715758
79,12.979166,77.640709,12.97,77.64,1,2,0,1.022104
85,12.975377,77.696664,12.97,77.64,1,2,0,6.168979
105,12.980410,77.640489,12.97,77.64,1,2,0,1.158751
134,12.949934,77.699386,12.97,77.64,1,2,0,6.811049
137,12.933284,77.615428,12.97,77.64,1,2,0,4.874243
139,12.978453,77.643685,12.97,77.64,1,2,0,1.021227
144,12.935662,77.614130,12.97,77.64,1,2,0,4.736865
150,12.906229,77.596791,12.97,77.64,1,2,0,8.497623
162,12.979096,77.640625,12.97,77.64,1,2,0,1.013694
196,12.972161,77.596014,12.97,77.64,1,2,0,4.772272
199,13.029198,77.570997,12.97,77.64,1,2,0,9.961036
249,12.970221,77.645396,12.97,77.64,1,2,0,0.585216

In [ ]:
time_1 = rfr.predict(df_merge)

In [ ]:
time_1=pd.DataFrame(time_1,columns=['time_1'])

In [ ]:
time_1

    time_1
0    18.05
1    17.23
2    17.18
3    17.92
4    19.12
5    17.09
6    17.29
7    17.63
8    19.42
9    17.66
10   19.01
11   17.79
12   17.16
13   19.23
14   17.33
15   17.15
16   19.23
17   17.31
18   23.36
19   19.00

In [ ]:
rest_1=df_merge[['Restaurant_latitude','Restaurant_longitude']]

In [ ]:
rest_1 = rest_1.reset_index(drop=True)


**List of 1st restaurant to choose from**

In [ ]:
#List of 1st restaurant to choose from with the expected time of delivery given in time_1(in min)
rest_1 = pd.concat([rest_1,time_1], axis=1)
rest_1

    Restaurant_latitude  Restaurant_longitude  time_1
0             12.913041             77.683237   18.05
1             12.914264             77.678400   17.23
2             12.934179             77.615797   17.18
3             12.972532             77.608179   17.92
4             12.970324             77.645748   19.12
5             12.933298             77.614293   17.09
6             12.934365             77.616155   17.29
7             12.939496             77.625999   17.63
8             12.979166             77.640709   19.42
9             12.975377             77.696664   17.66
10            12.980410             77.640489   19.01
11            12.949934             77.699386   17.79
12            12.933284             77.615428   17.16
13            12.978453             77.643685   19.23
14            12.935662             77.614130   17.33
15            12.906229             77.596791   17.15
16            12.979096             77.640625   19.23
17            12.972161             77.596014   17.31
18            13.029198             77.570997   23.36
19            12.970221             77.645396   19.00

In [ ]:
#Selecting a particular restaurant(say, the one with index 7 )
rest_1.iloc[7]
df_inp=pd.DataFrame(test_ip)
df_inp

,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival
0,12.97,77.64,1,2,0

In [ ]:

# Take out latitude and longitude values from rest_1 at index 7
rest_lat = rest_1.loc[7, 'Restaurant_latitude']
rest_long = rest_1.loc[7, 'Restaurant_longitude']

# Replace Delivery_location_latitude and Delivery_location_longitude columns of df_inp
df_inp.loc[:, 'Delivery_location_latitude'] = rest_lat
df_inp.loc[:, 'Delivery_location_longitude'] = rest_long

# Rename columns
df_inp = df_inp.rename(columns={
    'Delivery_location_latitude': 'Restaurant_1_latitude',
    'Delivery_location_longitude': 'Restaurant_1_longitude'
})

In [ ]:
#Time from selected 1st restaurant to user location
res_1_time=rest_1.loc[7,'time_1']
res_1_time

17.63

In [ ]:
df_inp

,Restaurant_1_latitude,Restaurant_1_longitude,Weatherconditions,Road_traffic_density,Festival
0,12.939496,77.625999,1,2,0

In [ ]:
rest_after_1=rest_1.drop(7).copy()

In [ ]:
#List of restaurant to choose after removing 1st restaurant
rest_after_1 = rest_after_1.reset_index(drop=True)
rest_after_1

    Restaurant_latitude  Restaurant_longitude  time_1
0             12.913041             77.683237   18.05
1             12.914264             77.678400   17.23
2             12.934179             77.615797   17.18
3             12.972532             77.608179   17.92
4             12.970324             77.645748   19.12
5             12.933298             77.614293   17.09
6             12.934365             77.616155   17.29
7             12.979166             77.640709   19.42
8             12.975377             77.696664   17.66
9             12.980410             77.640489   19.01
10            12.949934             77.699386   17.79
11            12.933284             77.615428   17.16
12            12.978453             77.643685   19.23
13            12.935662             77.614130   17.33
14            12.906229             77.596791   17.15
15            12.979096             77.640625   19.23
16            12.972161             77.596014   17.31
17            13.029198             77.570997   23.36
18            12.970221             77.645396   19.00

In [ ]:
df_inp = pd.concat([df_inp] * len(rest_after_1), ignore_index=True)

In [ ]:
df_inp

,Restaurant_1_latitude,Restaurant_1_longitude,Weatherconditions,Road_traffic_density,Festival
0,12.939496,77.625999,1,2,0
1,12.939496,77.625999,1,2,0
2,12.939496,77.625999,1,2,0
3,12.939496,77.625999,1,2,0
4,12.939496,77.625999,1,2,0
5,12.939496,77.625999,1,2,0
6,12.939496,77.625999,1,2,0
7,12.939496,77.625999,1,2,0
8,12.939496,77.625999,1,2,0
9,12.939496,77.625999,1,2,0
10,12.939496,77.625999,1,2,0
11,12.939496,77.625999,1,2,0
12,12.939496,77.625999,1,2,0
13,12.939496,77.625999,1,2,0
14,12.939496,77.625999,1,2,0
15,12.939496,77.625999,1,2,0
16,12.939496,77.625999,1,2,0
17,12.939496,77.625999,1,2,0
18,12.939496,77.625999,1,2,0

In [ ]:
df_inp['distance'] = haversine(rest_after_1['Restaurant_latitude'], rest_after_1['Restaurant_longitude'], df_inp['Restaurant_1_latitude'], df_inp['Restaurant_1_longitude'])

In [ ]:
df_inp = df_inp.rename(columns={
    'Restaurant_1_latitude':'Delivery_location_latitude',
    'Restaurant_1_longitude':'Delivery_location_longitude'
    })

In [ ]:
df_merge_2 = pd.concat([rest_after_1,df_inp], axis=1)
df_merge_2=df_merge_2.drop('time_1',axis=1)
df_merge_2

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival,distance
0,12.913041,77.683237,12.939496,77.625999,1,2,0,6.865433
1,12.914264,77.678400,12.939496,77.625999,1,2,0,6.334307
2,12.934179,77.615797,12.939496,77.625999,1,2,0,1.253767
3,12.972532,77.608179,12.939496,77.625999,1,2,0,4.150070
4,12.970324,77.645748,12.939496,77.625999,1,2,0,4.041116
5,12.933298,77.614293,12.939496,77.625999,1,2,0,1.443728
6,12.934365,77.616155,12.939496,77.625999,1,2,0,1.209801
7,12.979166,77.640709,12.939496,77.625999,1,2,0,4.690279
8,12.975377,77.696664,12.939496,77.625999,1,2,0,8.634573
9,12.980410,77.640489,12.939496,77.625999,1,2,0,4.812769
10,12.949934,77.699386,12.939496,77.625999,1,2,0,8.037130
11,12.933284,77.615428,12.939496,77.625999,1,2,0,1.337738
12,12.978453,77.643685,12.939496,77.625999,1,2,0,4.736841
13,12.935662,77.614130,12.939496,77.625999,1,2,0,1.355079
14,12.906229,77.596791,12.939496,77.625999,1,2,0,4.868678
15,12.979096,77.640625,12.939496,77.625999,1,2,0,4.679869
16,12.972161,77.596014,12.939496,77.625999,1,2,0,4.873470
17,13.029198,77.570997,12.939496,77.625999,1,2,0,11.619176
18,12.970221,77.645396,12.939496,77.625999,1,2,0,4.011287

In [ ]:
time_2_1=rfr.predict(df_merge_2)

In [ ]:
time_2_1=pd.DataFrame(time_2_1,columns=['time_2_1'])

In [ ]:
rest_2=df_merge_2[['Restaurant_latitude','Restaurant_longitude']]
rest_2

    Restaurant_latitude  Restaurant_longitude
0             12.913041             77.683237
1             12.914264             77.678400
2             12.934179             77.615797
3             12.972532             77.608179
4             12.970324             77.645748
5             12.933298             77.614293
6             12.934365             77.616155
7             12.979166             77.640709
8             12.975377             77.696664
9             12.980410             77.640489
10            12.949934             77.699386
11            12.933284             77.615428
12            12.978453             77.643685
13            12.935662             77.614130
14            12.906229             77.596791
15            12.979096             77.640625
16            12.972161             77.596014
17            13.029198             77.570997
18            12.970221             77.645396

In [ ]:
rest_2 = pd.concat([rest_2,time_2_1], axis=1)
rest_2

    Restaurant_latitude  Restaurant_longitude  time_2_1
0             12.913041             77.683237     17.42
1             12.914264             77.678400     17.40
2             12.934179             77.615797     18.30
3             12.972532             77.608179     17.78
4             12.970324             77.645748     17.32
5             12.933298             77.614293     18.55
6             12.934365             77.616155     18.46
7             12.979166             77.640709     17.12
8             12.975377             77.696664     17.78
9             12.980410             77.640489     17.27
10            12.949934             77.699386     18.16
11            12.933284             77.615428     18.33
12            12.978453             77.643685     17.22
13            12.935662             77.614130     18.75
14            12.906229             77.596791     17.90
15            12.979096             77.640625     17.35
16            12.972161             77.596014     17.61
17            13.029198             77.570997     28.78
18            12.970221             77.645396     17.32

In [ ]:
# Time taken from 2nd restaurant(to be chosen) to user location is time_2 and time taken between 1st chosen restaurant and probable 2nd restaurant is time_2_1
rest_after_1 = rest_after_1.rename(columns={'time_1':'time_2'})
rest_after_1['time_2_1']=rest_2['time_2_1']
rest_after_1

    Restaurant_latitude  Restaurant_longitude  time_2  time_2_1
0             12.913041             77.683237   18.05     17.42
1             12.914264             77.678400   17.23     17.40
2             12.934179             77.615797   17.18     18.30
3             12.972532             77.608179   17.92     17.78
4             12.970324             77.645748   19.12     17.32
5             12.933298             77.614293   17.09     18.55
6             12.934365             77.616155   17.29     18.46
7             12.979166             77.640709   19.42     17.12
8             12.975377             77.696664   17.66     17.78
9             12.980410             77.640489   19.01     17.27
10            12.949934             77.699386   17.79     18.16
11            12.933284             77.615428   17.16     18.33
12            12.978453             77.643685   19.23     17.22
13            12.935662             77.614130   17.33     18.75
14            12.906229             77.596791   17.15     17.90
15            12.979096             77.640625   19.23     17.35
16            12.972161             77.596014   17.31     17.61
17            13.029198             77.570997   23.36     28.78
18            12.970221             77.645396   19.00     17.32

In [ ]:
#Time from 1st chosen restaurant to user location
res_1_time

17.63

In [ ]:
time_after_2 = lambda row: min([(row['time_2_1'] + row['time_2'],'1-2'),(row['time_2_1'] + res_1_time,'2-1')],key=lambda x: x[0])

# apply the lambda function to create the 'time_after_2' column
rest_after_1['time_after_2'],rest_after_1['task_sequence'] = zip(*rest_after_1.apply(time_after_2, axis=1))

**List of restaurants after choosing 1st restaurant**

In [ ]:
#List of restaurants after choosing 1st restaurant
rest_2_choice=rest_after_1.copy()
rest_2_choice

,Restaurant_latitude,Restaurant_longitude,time_2,time_2_1,time_after_2,task_sequence
0,12.913041,77.683237,18.05,17.42,35.05,2-1
1,12.914264,77.678400,17.23,17.40,34.63,1-2
2,12.934179,77.615797,17.18,18.30,35.48,1-2
3,12.972532,77.608179,17.92,17.78,35.41,2-1
4,12.970324,77.645748,19.12,17.32,34.95,2-1
5,12.933298,77.614293,17.09,18.55,35.64,1-2
6,12.934365,77.616155,17.29,18.46,35.75,1-2
7,12.979166,77.640709,19.42,17.12,34.75,2-1
8,12.975377,77.696664,17.66,17.78,35.41,2-1
9,12.980410,77.640489,19.01,17.27,34.90,2-1
10,12.949934,77.699386,17.79,18.16,35.79,2-1
11,12.933284,77.615428,17.16,18.33,35.49,1-2
12,12.978453,77.643685,19.23,17.22,34.85,2-1
13,12.935662,77.614130,17.33,18.75,36.08,1-2
14,12.906229,77.596791,17.15,17.90,35.05,1-2
15,12.979096,77.640625,19.23,17.35,34.98,2-1
16,12.972161,77.596014,17.31,17.61,34.92,1-2
17,13.029198,77.570997,23.36,28.78,46.41,2-1
18,12.970221,77.645396,19.00,17.32,34.95,2-1

In [ ]:
#Choice of restaurant available , keeping total time of delivery <= 45 minutes
rest_2_choice = rest_2_choice[rest_2_choice['time_after_2'] <= 45]
rest_2_choice = rest_2_choice.reset_index(drop=True)
rest_2_choice

,Restaurant_latitude,Restaurant_longitude,time_2,time_2_1,time_after_2,task_sequence
0,12.913041,77.683237,18.05,17.42,35.05,2-1
1,12.914264,77.678400,17.23,17.40,34.63,1-2
2,12.934179,77.615797,17.18,18.30,35.48,1-2
3,12.972532,77.608179,17.92,17.78,35.41,2-1
4,12.970324,77.645748,19.12,17.32,34.95,2-1
5,12.933298,77.614293,17.09,18.55,35.64,1-2
6,12.934365,77.616155,17.29,18.46,35.75,1-2
7,12.979166,77.640709,19.42,17.12,34.75,2-1
8,12.975377,77.696664,17.66,17.78,35.41,2-1
9,12.980410,77.640489,19.01,17.27,34.90,2-1
10,12.949934,77.699386,17.79,18.16,35.79,2-1
11,12.933284,77.615428,17.16,18.33,35.49,1-2
12,12.978453,77.643685,19.23,17.22,34.85,2-1
13,12.935662,77.614130,17.33,18.75,36.08,1-2
14,12.906229,77.596791,17.15,17.90,35.05,1-2
15,12.979096,77.640625,19.23,17.35,34.98,2-1
16,12.972161,77.596014,17.31,17.61,34.92,1-2
17,12.970221,77.645396,19.00,17.32,34.95,2-1

In [ ]:
#Choosing a particular restaurant, say restaurant with index 4. 
res_2_time=rest_2_choice.loc[4,'time_2']
res_2_time

19.12

In [ ]:
res_2_1_time=rest_2_choice.loc[4,'time_2_1']
res_2_1_time

17.32

In [ ]:
df_inp_2=pd.DataFrame(test_ip)
df_inp_2

,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival
0,12.97,77.64,1,2,0

In [ ]:
# Take out latitude and longitude values from rest_1 at index 4
rest_lat = rest_2_choice.loc[4, 'Restaurant_latitude']
rest_long = rest_2_choice.loc[4, 'Restaurant_longitude']

# Replace Delivery_location_latitude and Delivery_location_longitude columns of df_inp_2
df_inp_2.loc[:, 'Delivery_location_latitude'] = rest_lat
df_inp_2.loc[:, 'Delivery_location_longitude'] = rest_long

In [ ]:
df_inp_2

,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival
0,12.970324,77.645748,1,2,0

In [ ]:
rest_after_2 = rest_2_choice.drop(4).copy()
rest_after_2 = rest_after_2.reset_index(drop=True)
rest_after_2

,Restaurant_latitude,Restaurant_longitude,time_2,time_2_1,time_after_2,task_sequence
0,12.913041,77.683237,18.05,17.42,35.05,2-1
1,12.914264,77.678400,17.23,17.40,34.63,1-2
2,12.934179,77.615797,17.18,18.30,35.48,1-2
3,12.972532,77.608179,17.92,17.78,35.41,2-1
4,12.933298,77.614293,17.09,18.55,35.64,1-2
5,12.934365,77.616155,17.29,18.46,35.75,1-2
6,12.979166,77.640709,19.42,17.12,34.75,2-1
7,12.975377,77.696664,17.66,17.78,35.41,2-1
8,12.980410,77.640489,19.01,17.27,34.90,2-1
9,12.949934,77.699386,17.79,18.16,35.79,2-1
10,12.933284,77.615428,17.16,18.33,35.49,1-2
11,12.978453,77.643685,19.23,17.22,34.85,2-1
12,12.935662,77.614130,17.33,18.75,36.08,1-2
13,12.906229,77.596791,17.15,17.90,35.05,1-2
14,12.979096,77.640625,19.23,17.35,34.98,2-1
15,12.972161,77.596014,17.31,17.61,34.92,1-2
16,12.970221,77.645396,19.00,17.32,34.95,2-1

In [ ]:
df_inp_2 = pd.concat([df_inp_2] * len(rest_after_2), ignore_index=True)
df_inp_2

,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival
0,12.970324,77.645748,1,2,0
1,12.970324,77.645748,1,2,0
2,12.970324,77.645748,1,2,0
3,12.970324,77.645748,1,2,0
4,12.970324,77.645748,1,2,0
5,12.970324,77.645748,1,2,0
6,12.970324,77.645748,1,2,0
7,12.970324,77.645748,1,2,0
8,12.970324,77.645748,1,2,0
9,12.970324,77.645748,1,2,0
10,12.970324,77.645748,1,2,0
11,12.970324,77.645748,1,2,0
12,12.970324,77.645748,1,2,0
13,12.970324,77.645748,1,2,0
14,12.970324,77.645748,1,2,0
15,12.970324,77.645748,1,2,0
16,12.970324,77.645748,1,2,0

In [ ]:
df_inp_2['distance'] = haversine(rest_after_2['Restaurant_latitude'], rest_after_2['Restaurant_longitude'], df_inp_2['Delivery_location_latitude'], df_inp_2['Delivery_location_longitude'])

In [ ]:
df_merge_3 = pd.concat([rest_after_2,df_inp_2], axis=1)
df_merge_3=df_merge_3.drop(['time_2','time_2_1','time_after_2','task_sequence'],axis=1)
df_merge_3

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Festival,distance
0,12.913041,77.683237,12.970324,77.645748,1,2,0,7.554936
1,12.914264,77.678400,12.970324,77.645748,1,2,0,7.167887
2,12.934179,77.615797,12.970324,77.645748,1,2,0,5.166026
3,12.972532,77.608179,12.970324,77.645748,1,2,0,4.078279
4,12.933298,77.614293,12.970324,77.645748,1,2,0,5.345040
5,12.934365,77.616155,12.970324,77.645748,1,2,0,5.125590
6,12.979166,77.640709,12.970324,77.645748,1,2,0,1.124623
7,12.975377,77.696664,12.970324,77.645748,1,2,0,5.545634
8,12.980410,77.640489,12.970324,77.645748,1,2,0,1.257979
9,12.949934,77.699386,12.970324,77.645748,1,2,0,6.238895
10,12.933284,77.615428,12.970324,77.645748,1,2,0,5.268672
11,12.978453,77.643685,12.970324,77.645748,1,2,0,0.931134
12,12.935662,77.614130,12.970324,77.645748,1,2,0,5.157004
13,12.906229,77.596791,12.970324,77.645748,1,2,0,8.885025
14,12.979096,77.640625,12.970324,77.645748,1,2,0,1.122298
15,12.972161,77.596014,12.970324,77.645748,1,2,0,5.392924
16,12.970221,77.645396,12.970324,77.645748,1,2,0,0.039824

In [ ]:
time_3_2=rfr.predict(df_merge_3)

In [ ]:
time_3_2=pd.DataFrame(time_3_2,columns=['time_3_2'])

In [ ]:
rest_3=df_merge_3[['Restaurant_latitude','Restaurant_longitude']]

In [ ]:
rest_3 = pd.concat([rest_3,time_3_2], axis=1)

In [ ]:
rest_after_2 = rest_after_2.rename(columns={'time_2':'time_3','time_2_1':'time_3_1'})
rest_after_2['time_3_2']=rest_3['time_3_2']

In [ ]:
time_after_3 = lambda row: min([(row['time_3_1'] + res_2_1_time + res_2_time, '3-1-2'), 
                                (row['time_3_2'] + res_2_1_time + res_1_time, '3-2-1'),
                                (res_2_1_time + row['time_3_1'] + row['time_3'], '2-1-3'),
                                (row['time_3_2'] + row['time_3_1'] + res_1_time, '2-3-1'),
                                (res_2_1_time + row['time_3_2'] + row['time_3'], '1-2-3'),
                                (row['time_3_1'] + row['time_3_2'] + res_2_time, '1-3-2')], 
                               key=lambda x: x[0])

rest_after_2['time_after_3'], rest_after_2['task_sequence'] = zip(*rest_after_2.apply(time_after_3, axis=1))
rest_after_2

,Restaurant_latitude,Restaurant_longitude,time_3,time_3_1,time_after_2,task_sequence,time_3_2,time_after_3
0,12.913041,77.683237,18.05,17.42,35.05,3-2-1,16.95,51.90
1,12.914264,77.678400,17.23,17.40,34.63,1-2-3,17.07,51.62
2,12.934179,77.615797,17.18,18.30,35.48,1-2-3,17.24,51.74
3,12.972532,77.608179,17.92,17.78,35.41,3-2-1,17.66,52.61
4,12.933298,77.614293,17.09,18.55,35.64,1-2-3,16.97,51.38
5,12.934365,77.616155,17.29,18.46,35.75,1-2-3,17.37,51.98
6,12.979166,77.640709,19.42,17.12,34.75,3-1-2,19.53,53.56
7,12.975377,77.696664,17.66,17.78,35.41,3-2-1,17.75,52.70
8,12.980410,77.640489,19.01,17.27,34.90,2-1-3,19.05,53.60
9,12.949934,77.699386,17.79,18.16,35.79,3-2-1,17.95,52.90
10,12.933284,77.615428,17.16,18.33,35.49,1-2-3,17.05,51.53
11,12.978453,77.643685,19.23,17.22,34.85,3-1-2,19.34,53.66
12,12.935662,77.614130,17.33,18.75,36.08,1-2-3,17.34,51.99
13,12.906229,77.596791,17.15,17.90,35.05,1-2-3,17.27,51.74
14,12.979096,77.640625,19.23,17.35,34.98,3-1-2,19.34,53.79
15,12.972161,77.596014,17.31,17.61,34.92,1-2-3,17.28,51.91
16,12.970221,77.645396,19.00,17.32,34.95,2-1-3,19.11,53.64

In [ ]:
rest_3_choice=rest_after_2.copy()
rest_3_choice = rest_3_choice[rest_3_choice['time_after_3'] <= 53]
rest_3_choice = rest_3_choice.reset_index(drop=True)
rest_3_choice

,Restaurant_latitude,Restaurant_longitude,time_3,time_3_1,time_after_2,task_sequence,time_3_2,time_after_3
0,12.913041,77.683237,18.05,17.42,35.05,3-2-1,16.95,51.90
1,12.914264,77.678400,17.23,17.40,34.63,1-2-3,17.07,51.62
2,12.934179,77.615797,17.18,18.30,35.48,1-2-3,17.24,51.74
3,12.972532,77.608179,17.92,17.78,35.41,3-2-1,17.66,52.61
4,12.933298,77.614293,17.09,18.55,35.64,1-2-3,16.97,51.38
5,12.934365,77.616155,17.29,18.46,35.75,1-2-3,17.37,51.98
6,12.975377,77.696664,17.66,17.78,35.41,3-2-1,17.75,52.70
7,12.949934,77.699386,17.79,18.16,35.79,3-2-1,17.95,52.90
8,12.933284,77.615428,17.16,18.33,35.49,1-2-3,17.05,51.53
9,12.935662,77.614130,17.33,18.75,36.08,1-2-3,17.34,51.99
10,12.906229,77.596791,17.15,17.90,35.05,1-2-3,17.27,51.74
11,12.972161,77.596014,17.31,17.61,34.92,1-2-3,17.28,51.91

In [ ]:
selected_row = int(input("Enter the restaurant number you want to select: "))

# getting the values from the selected row
time_after_3 = rest_3_choice.loc[selected_row, 'time_after_3']
task_sequence = rest_3_choice.loc[selected_row, 'task_sequence']

# outputting the values
print("Expected time(in min) for the order: ", time_after_3)
print("Delivery person will travel via following restaurant sequence: ", task_sequence)

Enter the restaurant number you want to select: 5
Expected time(in min) for the order:  51.98
Delivery person will travel via following restaurant sequence:  1-2-3